@charset "UTF-8";
/* CSS Document */
body, html, .main {
    height: 100%;
}

section {
    min-height: 100%;
}

body{
	background-image:url(images/background.jpg);
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	font-family: "Avenir";
	color: #4a2d20;
}
h1{
	font-weight: 100;
}
.home_main_image{
	width: 70%;
	height: 70%;
}
.logo{
	
	height: 40px;
	width: 45px;
}
.navbar-header{
	padding: 20px
	
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  padding-top: 20px;
  padding-right: 50px;
  font-size: 24px;
}
a{
	font-family: "Avenir";
	color: #4a2d20;
}
a:hover{
	color: #C2A78E;
	background-color: transparent !important;
}

a:visited{
	color: #898989;
}
.copyright{
	text-align: center;
	padding-top: 20px;
}
.center{
	text-align: center;
}
.slide_d_btn{
	height: 35px;
	width: 70px;
}

.rule_text{
	font-size:20px;
}

.rule_image{
	height: 40%;
	width: 40%;
}

video{
	height: 90%;
	width:90%;
}

.col-lg-4{
	padding: 10px;
}

.col-lg-4 >img{
	height: 80%;
	width: 80%;
}

.round_pic{
	border-radius: 50%;
	height: 20%;
	width: 20%;
}

/*Form css*/
form { max-width:400px; margin:30px auto; }

.feedback-input {
  color:black;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  font-weight:500;
  font-size: 16px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #4a2d20;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #4a2d20; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

#send {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#4a2d20;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
#send:hover { background:#8C7272; }

.background_text{
	background-color: rgba(255,255,255,0.80);
	border-radius: 15px;
	padding:15px 30px 30px 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.back_to_top{
	text-align: center !important;
}

.contact_text{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
